/* Body styling */

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Overpass&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/horse4.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    font-family: 'Overpass', sans-serif;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 25ch 1fr;
    height: 100vh;
}

/* Headings */

h1 {
    font-family: 'Bad Script', cursive;
    font-size: 8vw;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    color: white;
    margin-left: 2rem;
    margin-top: 1rem;

}

h2 {
    font-weight: bolder;
    font-size: 1.7rem;
    letter-spacing: .1rem;
    color: white;
    text-align: center;
    margin-top: .5rem;
}

/* Logo */

img {
    display: block;
    height: 3rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* Form Grids */

.register {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-left: 3rem;
    max-width: 50ch;
}

form {
    background-color: rgba(0, 10, 37, 0.8);
    padding: 1.5rem;
    border-radius: 1rem;
}

.form-grid {
    display: grid;
    grid-template-columns: 15ch 1fr;
}

.sumbit-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* Form Styling */

fieldset {
    border: 0;
}

label {
    display: block;
    margin: .5rem 1rem;
    color: white;
    font-size: 1.2rem;

}

label,
input {
    display: block;
    margin: .5rem 1rem;
    font-family: 'Overpass', sans-serif;
}

/* Input Styles */

input {
    text-align: center;
}

input[type=submit],
input[type=button] {
    background-color: black;
    border: 0;
    color: white;
    padding: .5rem;
    text-align: center;
    width: 75%;
    margin-top: 1rem;
    display: block;
    font-size: 1rem;
    border-radius: 1rem;
}

input[type=submit]:hover {
    background-color: #683830;
}

input[type=button]:hover {
    background-color: #683830;
}

input[type=text]:focus {
    background-color: #DBD1AA;
    border: 0;
}

input[type=password]:focus {
    background-color: #DBD1AA;
    border: 0;
}

/* Media Queries */

@media (orientation: portrait) {
    .form-grid {
        grid-template-columns: 1fr;
        grid-template-rows:
    }

    .register {
        margin: 0;
        grid-column: 1 / -1;
        margin: auto;
    }

    h1 {
        text-align: center;
        font-size: 3.5rem;
        margin: 0;
        margin-top: 3.5rem;

    }

    img {
        margin: auto;
        margin-bottom: .5rem;
    }
}