/* General & Body Styles*/

@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Oxygen&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url('../assets/forest.jpg');
  background-position: left;
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  font-family: 'Oxygen', sans-serif;
}

/* Navbar Styling */

nav {
  background-color: hsl(0, 0%, 3.1%);
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

/* Navbar links */

ul li {
  padding: 1em;
  text-align: center;
  justify-content: space-around;
  list-style: none;
}

ul a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.9rem;
  font-family: 'Advent Pro', sans-serif;
  letter-spacing: .3vw;
  font-variant: small-caps;
}

a:hover {
  color: hsl(0, 90.2%, 47.8%);
}

/* Logo Styling */

img {
  height: 60px;
  width: auto;
  margin-top: .4vh;
}

/* Styling for headings and transparent container. JR taught me how to do transparency. */

.heading-container {
  background-color: rgb(0, 0, 0, .9);
  margin: auto;
  margin-top: 3vh;
  padding: .5rem;
  width: 45vw;
  border-radius: 1rem;
}

h1 {
  color: whitesmoke;
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  font-size: 4vw;
  letter-spacing: 1.5vw;
}

h2 {
  text-align: center;
  font-size: 3vw;
  letter-spacing: 1vw;
  font-family: 'Advent Pro', sans-serif;
  font-variant: small-caps;
  color: whitesmoke;
}

/* Button Styling */

.button {
  margin: auto;
  margin-top: 15vh;
  padding: 1rem;
  width: 30ch;
  display: block;
  background-color:hsl(0, 90.2%, 47.8%);
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  font-size: 1rem;
  letter-spacing: .3vw; 
}

.button:hover {
  background-color: hsl(40.9, 49.5%, 81.4%);
  color: hsl(0, 0%, 3.1%);
}

/* Media queries */

@media screen and (max-width: 767px) {
  ul a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
  }

  ul li {
    padding: .4em;
  }

  img {
    height: 35px;
    width: auto;
    margin-top: .5rem;
    margin-left: .3rem;
  }

  h1 {
    color: whitesmoke;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 1.5vw;
    font-size: 7vw;
  }

  h2 {
    font-size: 5vw;
  }

  .heading-container {
    width: 70vw;
  }
}
